.caixa-de-pesquisa{
    background-color: #b7a6b4;
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
header{
    background-color:#b7a6b4;
    border-bottom: 2px solid black;
}
img{
    height: 70px;
    margin: 10px 10px 0px 10px;
}
.caixa-menuprincipal {
    border-top: 2px solid #000000;
    margin-top: 10px;
    padding-top: 10px;
    background-color: aliceblue;
}
main{
    background-color: #f5cacc;
}
main  img{
    height: 100px;
    display: block;
    margin: 0 auto;
}
article{
    border: 2px solid #000000;
    width: 500px;
    background-color: antiquewhite;
}
aside{
    background-color: aqua;
}
:link{
    color: black;
}
:active{
    color: black;
}
:visited{
    color: black;
}
*{
    margin: 0px;
}